{% extends 'website/base.html' %}  
{% load static %} 

<!-- <link rel=" stylesheet" href="{% static 'css/style.css' %}">  -->
{% block content %}   

<div class="jumbotron">
    <h1 class="display-4 myfont"><strong>E𝖽𝗎𝖼𝖺𝗍𝗂𝗈𝗇𝖺𝗅 C𝗈𝗎𝗋𝗌𝖾𝗌 (4-12) </strong></h1>
    <p class="lead">"Unleash the wild within."</p>
    <hr class="my-4">
    <p class = "myfont">Expand Your Zoological Knowledge

        Diddy Zoo offers a range of educational courses designed to deepen your understanding of the animal kingdom and conservation efforts. Whether you're a budding naturalist or a seasoned zoo enthusiast, our courses offer a unique learning experience.
        
        Course Offerings:
        1. Wildlife Photography Masterclass
        
        Learn advanced techniques for capturing stunning wildlife images.
        Explore the zoo's diverse habitats and discover the best photo opportunities.
        Receive personalized feedback from expert photographers. 
        <br> 
        <br>
        2. Conservation Biology and Ecology 
        
        Gain insights into the challenges facing wildlife and ecosystems.
        Understand the role of zoos in conservation efforts.
        Learn about sustainable practices and how you can make a difference. 
        <br> 
        <br>
        3. Animal Behavior and Cognition
        Discover the fascinating world of animal behavior.
        Observe animals firsthand and learn about their social interactions, communication, and problem-solving abilities.
        Explore the latest research in animal cognition. 
        <br> 
        <br>
        4. Zookeeping Essentials
        
        Get a behind-the-scenes look at the daily operations of a zoo.
        Learn about animal care, nutrition, and enrichment.
        Gain practical skills in animal handling and husbandry. 
        <br> 
        <br>
        5. Herpetology Workshop
        
        Explore the diverse world of reptiles and amphibians.
        Learn about their biology, ecology, and conservation.
        Handle a variety of species under the guidance of experienced herpetologists. 
        <br> 
        <br> 
        <br>
        Why Choose Diddy Zoo for Your Education?
        
        Expert Instructors: Our courses are led by passionate and knowledgeable experts in their fields.
        Hands-On Learning: Engage in practical activities and real-world experiences.
        Small Group Sizes: Benefit from personalized attention and a collaborative learning environment.
        State-of-the-Art Facilities: Utilize our modern facilities and resources to enhance your learning experience.
        Enroll today and embark on a journey of discovery!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'enrolcourses1' %}" role="button">Enroll Now!</a>
    </p>
  </div>




{% endblock %}
