{% extends 'website/base.html' %}

{% load static %} 
{% block content %}   

 
<div  class="jumbotron-jumbtron-fluid2"> 
    <div class = "contiainer">
   
   
   <h1  class ="display-4" style="text-align:center;"> <strong><u> 𝖊𝖉𝖚𝖈𝖆𝖙𝖎𝖔𝖓𝖆𝖑 𝖈𝖔𝖚𝖗𝖘𝖊𝖘</u></strong> </h1> 
   

  
       
   </p>
   
   </div>
   </div> 
   <br> 
   <hr> 
   <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/static/images/courses1.jpg" alt="Courses">
    <div class="card-body">
      <h5 class="card-title">Courses (age 4-12)</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="{% url 'educational' %}" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

    




{% endblock %}