{% extends 'website/base.html' %}  
{% load static %} 
{% block content %}  
<!DOCTYPE html> 
<html>   

<body > 
<h1  style="text-align:center;"> <strong>𝔇ℑ𝔡𝔡𝔶 𝔗𝔬𝔲𝔯 <strong></h1>
<p style="text-align:center;"> <strong>the educational tours at Diddy Zoo offer a unique, hands-on learning experience that brings visitors up close to the animal kingdom. 
    <img src="{% static 'dcrm/images/wallpaper.jpg' %}" alt="Diddy Zoo Tour" style="width:100px; height:auto; margin: 0 10px; vertical-align: middle;">
    Led by knowledgeable guides, these tours provide fascinating insights into animal behaviors, ecosystems, and conservation efforts. Each tour is tailored to engage different age groups, making it an ideal learning opportunity for students, families, and wildlife enthusiasts alike. Participants get to explore behind-the-scenes areas, engage in interactive animal encounters, and participate in conservation activities that underscore the importance of protecting our planets biodiversity. Through these tours, Diddy Zoo inspires curiosity, respect, and responsibility for wildlife and the environment." </strong> 
    
</p>

</body>
</html>





{% endblock %}  