{% extends 'website/base.html' %} 
{% block content %} 
  <br> 

  <div class="text-center" > 
    <h3>diddling zoo</h3> 
    <br> 
    <h5> The Diddla Zoo</h5> 
    <hr> 
    <br> 
    <a href="{% url 'register'  %}" class=" btn btn-primary">Create your account</a>
    <div>
      <!-- <script src="https://cdn.htmlgames.com/embed.js?game=5StackBlackjack&amp;bgcolor=white"></script>  -->
      <iframe id="gameFrame" src="https://games.htmlgames.com/CasinoCardsMemory/" scrolling="no" allowfullscreen="true" allow="autoplay" width="1000px" height="570px"></iframe>
      </div>  
      <div>
      
  </div>

  {% endblock %}    