 
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center">
    <a class="navbar-brand main-heading" href="{% url '' %}">   
      &nbsp; 🅓🅘🅓🅓🅛🅘🅝🅖 🅐🅟🅟
    </a>
    <button
      class="navbar-toggler" 
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
     </button>
        <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto">
           &nbsp;     &nbsp;     &nbsp;
           {% if user.is_authenticated %}
             
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Sign out &nbsp; <i class="fa fa-sign-out" aria-hidden="true"></i> </a>
            </li>
        
         {% else %}
         <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}"> Register </a>
         </li>
          &nbsp;     &nbsp;     &nbsp;
          <li class="nav-item">
           <a class="nav-link" href="{% url 'my-login' %}">Login</a>
         </li> 
         &nbsp;
        
        

        {% endif %}    
        <li> 
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bookings
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url '' %}">Booking Tickets</a>
              <a class="dropdown-item" href="{% url 'Hotel_Booking' %}">Hotel Bookings</a>
            </div> 
            &nbsp; 
            </div> 
            </li>
        <li> 
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Educations and tours
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'educational' %}">Educational Tours</a>
              <a class="dropdown-item" href="{% url 'courses' %}">Education courses</a> 
              <a class="dropdown-item" href="#">Events and Arcade</a>
            </div>   
            </div>
            
          </li>
         &nbsp;
         <li> 
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About us
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'map' %}">Zoo Map</a>
              <a class="dropdown-item" href="#">Zoo history</a> 
              <a class="dropdown-item" href="#">Zoo guidelines</a>
            </div>   
          </div>
          </li>
            &nbsp;
            <li> 
             <div class="dropdown">
               <button class="btn btn-primary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Memberships
               </button>
               <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                 <a class="dropdown-item" href="#">Gift a Membership</a>
                 <a class="dropdown-item" href="#">Life Time Membership</a> 
                
               </div>
          </div>
      </li>   
      


       </ul> 
       <input type="text" placeholder="Search..">
      </div> 
    </nav> 
    {% endblock %}
