{% extends 'website/base.html' %}  
{% load crispy_forms_tags %}
{% block content %} 
  <body> 
    <br> 
    <div class = "container bg-light p-5 form-layout" > 
        <h3>  Create your Account </h3> 
        <h5> DIDDY ZOO IS GOATED </h5> 
         <hr> 
         <br> 
         <form method="POST" autocomplete= "off"> 
          {% csrf_token %} 
          {{form|crispy}} 

        <button type = "submit" class = "btn btn-primary w-100 btn-block p-2">Create Account</button> 


         </form> 
         <br> 
         <div class ="text-center"> 
            <p>Already have an account?</p> <a href="{% url 'my-login' %}">Login</a> 

         </div> 
         <br>
    </div> 
  </body> 
  {% endblock %}